/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a4c2d1;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63;
}


.sharp-corners,
/* Wildcar selects all elemnts that have a parent with the desired class*/
.sharp-corners * {
    border-radius: 0;
}

/* Hero section */
#hero {
    background-color: #dbdcde;
    background-image: url('../images/background.webp');
    background-position: 50% 70%;
    background-size: cover;
    padding: 5% 7%;
    min-height: 500px;
}

/* About section */
#about {
    background-color: white;
}

/* Portfolio section */
#portfolio {
    background-color: #dbdcde;
}

/* to target only these classes within the portf. section, otherwise all bootstrap classes will be overwritten */
#portfolio .card-title {
    color: #1f7798;

}

/* target always the most specific class */
#portfolio .btn-outline-secondary:hover {
    color: white;
    background-color: #1f7798;
}

/* also can target min height to avoid changes in card heights */
#portfolio .card-text {
    min-height: 120px;
}

/* Contact section */
#contact {
    background-color: white;
}

/* Media queries */

/* Use Bootstrap breakpoint for XL screens */
@media screen and (min-width: 1200px) {
    /* Fixes all portfolio cards being too tall on xl screens */
    #portfolio .card-text {
        min-height: auto;
    }    
}